.receptor-dashboard {
    padding: 20px;
    background-color: #f5faff;
  }
  
  .dashboard-content {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .request-organ {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .request-organ form label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .request-organ form select,
  .request-organ form input,
  .request-organ form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  